/* Some things to consider while working on this document:
 * Header and footer's styling will be very similar, almost identical in v1
 * The "timer ring" styling will mostly be controlled by timer.js - don't worry about it too much here
 * Make sure that this page will always take up the full height and width of the viewport (i.e. the device you are viewing the page on) - you may need to do some research into something called "responsive web design".
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 0.5em;
    flex: 1;
    background-color: #D8D8D8;
}

footer {
    display: flex;
    flex-direction: row;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
}

nav .webpage-title > h1 {
    margin: 0.5em;
    color: #636363;
    font-weight: 400;
    flex: 1;
    display: inline-block;
}

#hamburger {
    margin-top: 2.5px;
    color: #636363;
    flex: 1;
}

/* Removed by Malcolm - Not currently in use
#task_menu {
    padding: 0.5em;
    width: 30px;
    height: 30px;
}*/

main {
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 18;
}

#timer-display, #timer-control {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#pomodoro-state {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color:  #a09a9a;
    font-size: 20px;
}

#pomodoro-state-text, #pomodoro-count-text {
    font-size:20px;
    color: rgb(46, 44, 44);
    font-weight: bold;
}

#timer-control {
    margin-top: 0px;
}
  
#timer-display {
    align-self: center;
    width: 100%;
    max-width: 60vh;
    max-height: 60vw;
}

#rings {
    stroke-width: 4;
    fill: none;
    transform: rotate(-90deg);
    transform-origin: 40px 40px;
}

#background-ring {
    stroke: #E46E6E;
}

#burndown-ring {
    stroke: #D8D8D8;
}

#start, #stop, #reset {
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    margin: 1em;

    color: #222c;

    border-width: 0;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    justify-content: center;
    cursor: pointer;
}

#start {
    display: block;
    background-color: #6FEA9A;
    color: #337B3B;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#stop {
    display: none;
    background-color: #E46E6E;
    color: #8E4545;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#reset {
    display: none;
    background-color: #FFF096;
    color: #A1975D;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

footer > p {
    padding-top: 0.5em;
    height: 1.5em;
    flex: 1;
    align-self: center;
    color: #636363;
    text-align: center;
}

#options-btn {
    color: #636363;
    margin-top: 12.5px;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#options-panel {
    padding: 1em;
    position: absolute;
    bottom: 5em;
    display: none;
    width: 17%;
    font-family: inherit;
    border-radius: 10px 10px 0px 0px;
    background-color: #e0e0e0;
    text-align: center;
}


.overlay {
    position: absolute; 
    bottom: 3.8em;
    align-content: center;
}

#options-form > label {
    color: #636363;
}

#pom-length-label {
    margin-right: 6px;
}

#long-length-label {
    margin-right: 4px;
}

#cycle-length-label {
    margin-right: 18px;
}

#reduce-motion-label {
    margin-right: 30px;
}

#alert-sound-label {
    margin-right: 55px;
}

#ticking-sound-label {
    margin-right: 35px;
}

#darkmode-label {
    margin-right: 60px;
}

#short-length, #long-length, #cycle-length, #reduce-motion-wrap, #alert-sound-wrap, #ticking-sound-wrap, #darkmode-wrap {
    margin-top: 15px;
}

#pom-length, #short-length, #long-length, #cycle-length {
    color: #636363;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 50%;
    height: 30px;
    resize: none;
}

#opt-text {
    font-size: 20px;
    color: #636363;
}

#save-options {
    margin-top: 15px;
    width: 50%;
    background-color: #b3b3b3;
    border-radius: 20px;
    border: none;
    padding: .5em;
    color: #636363;
    font-weight: bolder;
    font-family: inherit;
    cursor: pointer;
}

/* 

v2 styling

*/

nav {
    display: grid;
    grid-template-columns: 60% 1fr 1fr 10%;
    height: 8vh;
    align-items: center;
}

#project-list {
    list-style: none;
    width: 20vw;
    position: absolute;
    right: 0;
    top: 8vh;
    border-radius: 0px 0px 10px 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    background: #e0e0e0;

    /* change in js to (block)*/
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

nav ul li {
    color: #636363;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #bbb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    flex: 1;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}

ul li .project-action-container, #project {
    cursor: pointer;
}

nav ul li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: none;
    font-size: 20px;
    cursor: pointer;
}

nav .webpage-title .help {
    margin-bottom: -6px;
    grid-column-start: 2;
    color: #8b8b8b;
    font-size: 30px;
    cursor: pointer;
}

nav .icon {
    justify-self: right;
    margin-right: 0.5em;
    cursor: pointer;
    font-size: 2.4em;
    grid-column-start: 4;
}

/* modal for inputs (inputting to project list etc.) */

.modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    opacity: 0;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal .project-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 30px 60px 30px;
    background-color: white;
    height: 200px;
    width: 400px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.modal h2 {
    font-weight: normal;
    color: #636363;
}

.modal .project-prompt .close-container {
    padding-left: 80%;
}

.modal .project-prompt .icon {
    color: #636363;
    font-size: 24px;
    cursor: pointer;
}

.modal .project-prompt input {
    border: none;
    border-bottom: 1px solid #bbb;
    width: 80%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

.modal .project-prompt button {
    background-color: #6FEA9A;
    color: #337B3B;
    font-weight: 700;
    font-size: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin: 0.5em;

    border-width: 0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    cursor: pointer;
}

.modal #log-btn {
    background-color: #E46E6E;
    color: #8E4545;
}

/* modal for info pages, no inputs */ 
.explicit-modal,
.thematic-modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    opacity: 0;
    pointer-events: none;
}

.explicit-modal.open,
.thematic-modal.open {
    opacity: 1;
    pointer-events: all;
}

.explicit-modal .description,
.thematic-modal .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 30px 60px 30px;
    background-color: white;
    height: 530px;
    width: 500px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.explicit-modal h2,
.thematic-modal h2 {
    font-weight: normal;
    color: #636363;
}

.explicit-modal .description .close-container,
.thematic-modal .description .close-container {
    padding-left: 80%;
}

.explicit-modal .description .icon,
.thematic-modal .description .icon {
    color: #636363;
    font-size: 24px;
    cursor: pointer;
}

.thematic-modal .description .state-descriptions {
    display: flex;
    justify-self: center;
}

.thematic-modal .description .state-descriptions .state-item {
    margin: 5px;
}

.thematic-modal .description .state-descriptions .state-item img {
    height: 100px;
}

.thematic-modal .description .state-descriptions h3,
.thematic-modal .description .distraction-descriptions h3 {
    color: #636363;
}

.thematic-modal .description .state-descriptions p,
.thematic-modal .description .distraction-descriptions p{
    color: #636363;
    font-size: 80%;
    line-height: 130%;
}

.explicit-modal .description button,
.thematic-modal .description button {
    background-color: #6FEA9A;
    color: #337B3B;
    font-weight: 700;
    font-size: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin: 0.5em;

    border-width: 0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    cursor: pointer;
}

.explicit-modal .description img {
    height: 370px;
    margin-bottom: 20px;
}


.interactive-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .interactive-container {
        flex-direction: column;
    }
}

#timer-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#distraction-container {
    display: none;
    flex: 1;
    margin: 10px 25px 10px;
    background-color: #ebebeb;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#log-title {
    margin-top: 25px;
    text-align: center;
}

#log-list {
    list-style-type: none;
}

#log-list li {
    text-align: center;
    color: #636363;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #bbb;
    margin-right: 2.5em;
}

#pomodoro-state-icon {
    margin-bottom: -5px;
    width: 1.25em;
    height: 1.25em;    
}


/* Below are from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color: rgb(38, 38, 38);
}

.dark-mode header, 
.dark-mode footer {
    background-color: rgb(21, 21, 21);
}

.dark-mode #project-list, 
.dark-mode #options-panel {
    background-color: #4f4f4f;
}

.dark-mode #options-form > label,
.dark-mode #burndown-ring, 
.dark-mode li, 
.dark-mode #pomodoro-state-text {
    color: #c4c4c4;
}