/* Some things to consider while working on this document:

 * Header and footer's styling will be very similar, almost identical in v1

 * The "timer ring" styling will mostly be controlled by timer.js - don't worry about it too much here

 * Make sure that this page will always take up the full height and width of the viewport (i.e. the device you are viewing the page on) - you may need to do some research into something called "responsive web design".

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    background-color: #bbb;
}

footer {
    flex: 1;
    background-color: #bbb;
}

h1 {
    margin: 0;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    #timer-control {
        width: 100%;
    }
}

main {
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 18;
}

#timer-display, #timer-control {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#start, #stop, #reset {
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    margin: 1em;

    color: #222c;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    justify-content: center;
    cursor: pointer;
}

#start {
    display: inline-flex;
    background-color: #17bf81;
    flex: 1;
}

#stop {
    display: none;
    background-color: hsl(0, 76%, 60%);
    flex: 1;
}

#reset {
    display: none;
    background-color: #d2cf50;
    flex: 1;
}

footer > p {
    padding: 4px;
    text-align: center;
}

/* 

v2 styling

*/

nav {
    display: grid;
    grid-template-columns: 60% 1fr 1fr 10%;
    min-height: 8vh;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 100px;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 55px;
    right: 4%;
    border-radius: 10px;
    border: 1px solid bbb;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    background: #bbb;

    /* change in js to (block)*/
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

nav ul li {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid black;
}

nav ul li:last-child {
    border-bottom: none;
    font-size: 20px;
    cursor: pointer;
}

nav .icon {
    cursor: pointer;
    font-size: 2.4em;
    grid-column-start: 4;
}

.modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    opacity: 0;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal .project-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;
    background-color: white;
    height: 200px;
    width: 400px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.modal .project-prompt .icon {
    cursor: pointer;
    font-size: 2.4em;
    padding-left: 80%;
}

.modal .project-prompt input {
    border: none;
    border-bottom: 1px solid #bbb;
    width: 80%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

.modal .project-prompt button {
    color: #222c;
    background-color: #17bf81;

    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    cursor: pointer;
}