/* Some things to consider while working on this document:

 * Header and footer's styling will be very similar, almost identical in v1

 * The "timer ring" styling will mostly be controlled by timer.js - don't worry about it too much here

 * Make sure that this page will always take up the full height and width of the viewport (i.e. the device you are viewing the page on) - you may need to do some research into something called "responsive web design".

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 0.5em;
    flex: 1;
    background-color: #D8D8D8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, nav {
    margin: 0.5em;
    color: #636363;
    font-weight: 400;
}

#task_menu {
    padding: 0.5em;
    width: 30px;
    height: 30px;
}

main {
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 18;
}

#timer-display, #timer-control {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#pomodoro-state {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color:  #a09a9a;
    font-size: 20px;
}

#pomodoro-state-text, #pomodoro-count-text {
    font-size:20px;
    color: rgb(46, 44, 44);
    font-weight: bold;
}

#timer-control {
    margin-top: 0px;
}
  
#timer-display {
    align-self: center;
    width: 100%;
    max-width: 60vh;
    max-height: 60vw;
}

#rings {
    stroke-width: 4;
    fill: none;
    transform: rotate(-90deg);
    transform-origin: 40px 40px;
}

#background-ring {
    stroke: #E46E6E;
}

#burndown-ring {
    stroke: #D8D8D8;
}

/* Removed by Malcolm - Not currently in use
#session-counter {
    margin-top: 10px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #767571;
}*/

#start, #stop, #reset {
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    margin: 1em;

    color: #222c;

    border-width: 0;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    justify-content: center;
}

#start {
    display: block;
    background-color: #6FEA9A;
    color: #337B3B;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#stop {
    display: none;
    background-color: #E46E6E;
    color: #8E4545;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#reset {
    display: none;
    background-color: #FFF096;
    color: #A1975D;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

footer > p {
    color: #636363;
    padding: 0.25em;
    text-align: center;
}