/* Some things to consider while working on this document:

 * Header and footer's styling will be very similar, almost identical in v1

 * The "timer ring" styling will mostly be controlled by timer.js - don't worry about it too much here

 * Make sure that this page will always take up the full height and width of the viewport (i.e. the device you are viewing the page on) - you may need to do some research into something called "responsive web design".

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 10px 0 10px 0;
    flex: 1;
    background-color: #D8D8D8;
}

h1 {
    margin: 0;
    padding: 8px;
    color: #636363;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    #timer-control {
        width: 100%;
    }
}

main {
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 18;
}

#timer-display, #timer-control {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#pomodoro-state {
    display: flex;
    justify-content: center;
    align-items: stretch;

    margin-top: -100px;
}


#timer-control {
    margin-top: 0px;
}

#start, #stop, #reset {
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    margin: 1em;

    color: #222c;

    border-width: 0;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    justify-content: center;
}

#start {
    display: inline-flex;
    background-color: #6FEA9A;
    color: #337B3B;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#stop {
    display: none;
    background-color: #E46E6E;
    color: #8E4545;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

#reset {
    display: none;
    background-color: #FFF096;
    color: #A1975D;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
}

footer > p {
    color: #636363;
    padding: 4px;
    text-align: center;
}