# This is a basic workflow to help you get started with Actions

name: Continuous Integration Pipeline
on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Run ESLint
      run: npx eslint ./source/js/ --ext .js -c ./.eslintrc.js
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Run Jest
      run: npm run test
  documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Run JSDoc
      run: npx jsdoc ./source/js/ -d ./docs
